/* Default styles for larger screens */
body {
  background-image: url("bg4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333; /* Text color on a light background */
  /* Add other styles for larger screens */
}

header {
  background-image: url("headerbg.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 0px;
}

.marquee {
  background-image: url("headerbg.jpg");
  width: 100%;
  background-color: #d77b7b;
  padding: 0px 0;
}

.marquee-text {
  text-align: center;
  font-size: 24px;
  color: #fff;
  animation: marquee-animation 10s linear infinite;
}

@keyframes marquee-animation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.logo-area {
  text-align: center;
  margin-bottom: 20px;
}

.logo-image {
  max-width: 500px;
}

nav {
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}

ul li {
  display: inline-block;
  margin-left: 10px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 50px;
  border: 5px solid #333;
  border-radius: 20px;
}

ul li a:hover {
  background-color: blueviolet;
  color: #fff;
}
.students-details{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin: 10px;
        justify-content: space-between;
}
/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
  body {
    font-size: 14px;
    /* Adjust other styles for smaller screens */
  }

  /* Adjust header styles for smaller screens */
  header {
    background-size: cover;
    background-position: center;
  }

  .marquee {
    background-size: cover;
  }

  /* Adjust navigation styles for smaller screens */
  ul {
    top: 0;
    right: 0;
    text-align: right;
  }

  ul li {
    display: block;
    margin: 0;
    margin-bottom: 10px;
  }

  ul li a {
    display: block;
    padding: 10px 20px;
    text-align: right;
  }
}
.container {
  width: 100%;
  max-width: 1200px; /* Optional: Limit the maximum width for large screens */
  text-align: center; /* Center text and inline elements */
}
.centered-content {
  margin: 0 auto; /* Center block-level content */
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-size: 16px;

  body {
    font-size: 14px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
    /* css for this screen size here */
}
.edit-link {
      position: absolute;
      top: 10px;
      left: 10px;
      color: #555;
      text-decoration: none;
      font-size: 24px;
    }
